.wrapper {
    display: flex; /* Sử dụng flexbox để quản lý bố cục */
  }
  
  .sidebar {
    flex: 1;
    border-right: 0.5px solid rgb(230, 227, 227);
    min-height: 100vh;
    background-color: white;
  }
  
  .content {
    flex: 4;
    padding: 20px;
  }
  