.post__manage__wrapper {
    .post__manage__title {
        text-align: center;
        margin-top: 20px;
        font-weight: 700;
        font-size: 26px;
    }

    .post__manage__create__link {
        margin: 10px 0 0 40px;
    }

    .post__manage__table {
        padding: 20px 40px;
    }
}