.search__result__wrapper {
    .sr__search__input__wrapper {
        height: 40px;
        width: 100%;
        background-color: var(--primary-color);
        position: relative;
    }

    .sr__body {
        margin: 36px 14% 0;

        .sr__body__title {
            font-size: 12px;
            color: var(--text-color);
        }

        .sr__body__desc {
            margin-top: 10px;

            .sr__body__filter__wrapper {
                border: 1px solid var(--border-color);
                border-radius: 7px;
                margin-bottom: 24px;

                .sr__body__filter__by {
                    font-size: 16px;
                    color: var(--text-color);
                    font-weight: 600;
                    padding: 6px;
                    border-bottom: 1px solid var(--border-color);
                }
            }

            .sr__body__num__found {
                font-size: 20px;
                color: var(--text-color);
                font-weight: 600;
                margin-bottom: 16px;
            }

            .sr__body__sort {
                width: 33%;
                font-size: 14px;

                .css-58tlqw-control {
                    border-radius: 12px;
                }
            }

            .sr__list__result {
                position: relative;
                height: 100%;
                .sr__loader {
                    position: absolute;
                    top: 26%;
                    left: 50%;
                    transform: rotate(134deg) !important;
                }

                .sr__result__not__found {
                    text-align: center;
                    margin-top: 30px;
                    font-size: 15px;
                    color: #7f7070;
                }

                .sr__result__list__loader {
                    margin-top: 16px;
                }
            }
        }
    }
}