
.room__manage__wrapper {
    .room__manage__title {
        text-align: center;
        margin-top: 20px;
        font-weight: 700;
        font-size: 26px;
    }
    .room__manage__table {
        padding: 40px;
    }
}