:root {
    --primary-color: #013b94;
    --black-color: #000;
    --white-color: #fff;
    --text-color: #1a1a1a;
    --secondary-text-color: #333;
    --text-hover-color: #006ce4;
    --border-color: #e7e7e7;
    --text-description-color: #656565;
}