.header__wrapper {
    height: 124px;
    color: var(--white-color);

    .header__info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 14px 0;

        .header__logo {
            font-size: 22px;
            font-weight: 700;
            padding-right: 10px;
            cursor: pointer;
        }

        .header__detail {
            display: flex;
            align-items: center;

            .header__lang__help {
                display: flex;
                align-items: center;
                justify-content: center;

                .header__lang__img {
                    width: 24px;
                    border-radius: 50%;
                    margin-right: 22px;
                    cursor: pointer;
                    transform: translateY(1px);
                }

                .header__wrapper__help__icon {
                    padding: 8px;
                    cursor: pointer;
                }
            }

            .header__auth {
                display: flex;
                align-items: center;
            }

           
        }
    }

    .header__nav {
        padding-top: 2px;

        .header__nav__list {
            list-style: none;
            display: flex;
            align-items: center;

            .header__nav__item {
                margin-right: 10px;
            }
        }
    }


}

.header__user__desc {
    position: absolute;
    top: 48px;
    right: 0;
    background-color: var(--white-color);
    width: 230px;
    border-radius: 8px;
    box-shadow: 1px 1px 2px #e6e6e6;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.16s ease-in-out, visibility 0.16s ease-in-out;

    .header__user__desc__list {
        list-style: none;

        .header__user__desc__item {
            .header__user__item__link {
                text-decoration: none;
                color: #333;
                display: flex;
                align-items: center;
                padding: 12px 16px;
                font-size: 14px;

                span {
                    margin-left: 10px;
                }

                &:hover {
                    background-color: #f2f2f2;
                }

                &:first-child {
                    border-top-left-radius: 8px;
                    border-top-right-radius: 8px;
                }

                &:last-child {
                    border-bottom-left-radius: 8px;
                    border-bottom-right-radius: 8px;
                }
            }
        }
    }
}