.filter__wrapper {
    padding: 12px 16px 8px 13px;
    border-bottom: 1px solid var(--border-color);
    
    .filter__title {
        font-size: 14px;
        color: var(--text-color);
        font-weight: 600;
        margin-bottom: 4px;
    }

    .filter__option__list {
        .filter__option__item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 5px 0;
            
            .filter__item__input__name {
                display: flex;
                align-items: center;
                .filter__item__input {
                    width: 16px;
                    height: 16px;
                }
    
                .filter__item__name {
                    font-size: 13px;
                    color: var(--text-color);
                    margin-left: 8px;
                }
            }

            .filter__item__number {
                font-size: 12px;
                color: var(--text-color);
            }
        }
    }

    .filter__see__all {
        font-size: 14px;
        color: var(--text-hover-color);
        cursor: pointer;
        padding-top: 4px;
        display: flex;
        align-items: center;

        .filter__see__all__text {
            margin-right: 4px;
        }

        &:hover {
            text-decoration: underline;
        }
    }

    .filter__slider__wrapper {
        .filter__slider__value {
            font-size: 14px;
            color: var(--text-color);
            margin: 9px 0 12px;
        }

        .filter__slider {
            margin-bottom: 10px;
        }
    }
}