.checkbox__booking__item__wrapper {
    display: flex;
    margin-top: 16px;

    .cbi__checkbox__input {
        width: 18px;
        height: 25px;
    }
    .cbi__info {
        margin-left: 8px;

        .cbi__title {
            font-size: 14px;
            color: var(--text-color);
        }

        .cbi__desc {
            font-size: 12px;
            color: var(--sub-text-color);
            margin-top: 2px;
        }
    }
}