.auth__content {
    width: 360px;
    margin: 28px auto;

    h6 {
        font-size: 19px;
        font-weight: 700;
        margin-bottom: 30px;
        text-align: center;
    }

    .auth__input__item {
        margin-bottom: 18px;

        .auth__label {
            font-size: 14px;
            display: block;
            margin-bottom: 3px;
        }
    
        .auth__wrapper__input {
            width: 100%;
            height: 36px;
    
            .auth__input {
                width: 100%;
                height: 100%;
                padding: 8px;
                border: 1px solid;
                border-radius: 4px;
                font-size: 14px;
            }
        }
    }

    .auth__btn {
        width: 100%;
        background-color: var(--primary-color);
        color: var(--white-color);
        padding: 8px;
        border: none;
        outline: none;
        border-radius: 4px;
        margin: 12px 0;

        &:hover {
            opacity: .9;
        }
    }

    .auth__title__others__wrapper {
        display: flex;
        align-items: center;
        margin: 4px 0;

        .auth__title__others__hr {
            flex: 1;
        }

        .auth__title__others {
            margin: 0 8px;
            font-size: 13px;
        }
    }

    .auth__list__social__media {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px 0 20px;

        .auth__item__sm {
            margin: 0 20px;
            padding: 14px;
            cursor: pointer;
            border: 1px solid #e7e7e7;
            border-radius: 4px;
            transition: border-color 0.4s ease;

            &:hover {
                border-color: var(--primary-color);
            }
        }
    }

    .auth__policy {
        font-size: 12px;
        text-align: center;

        a {
            text-decoration: none;
        }
    }
}