.booking__manage__wrapper {
    .booking__manage__title {
        text-align: center;
        margin-top: 20px;
        font-weight: 700;
        font-size: 26px;
    }

    .booking__manage__table {
        padding: 40px;
    }
}