
.room__create__wrapper {
    .room__create__title {
        text-align: center;
        margin-top: 20px;
        font-weight: 700;
        font-size: 26px;
    }
    .room__create__content {
        padding: 40px;
    }
}