.image__primary__item__wrapper {
    
    .carousel__item__img {
        border-radius: 12px;
        width: 100%;
        height: 174px;
    }
    
    .carousel__item__detail {
        margin: 10px 0;
    
        .carousel__item__name {
            font-size: 15px;
            font-weight: 600;
            padding: 2px 0;
        }
    
        .carousel__item__desc {
            font-size: 13px;
            color: var(--text-description-color);
            padding: 2px 0;
        }
    }
}
