.feedback__item__wrapper {
    border: 1px solid var(--border-color);
    padding: 16px;
    border-radius: 8px;
    width: 100%;
    min-height: 230px;
    margin: 26px 0;

    .feedback__item__user {
        display: flex;
        align-items: center;

        .feedback__item__user__img {
            width: 38px;
            height: 38px;
            border-radius: 50%;
        }

        .feedback__item__user__detail {
            margin-left: 4px;

            .feedback__item__user__name {
                font-weight: 600;
            }

            .feedback__item__desc {
                display: flex;
                align-items: center;

                .feedback__item__flag {
                    width: 14px;
                    height: 14px;
                    border-radius: 50%;
                    margin-right: 4px;
                }

                .feedback__item__user__country {
                    font-size: 12px;
                    color: var(--text-description-color);
                }
            }
        }
    }

    .feedback__item__content {
        font-size: 14px;
        margin: 6px 0;
    }
}